* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.header {
  background-color: #f8f8f9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(148, 71, 71, 0.211);
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 4rem;
}

.nav-detail {
  display: inline-block;
  padding: 1.8rem;
  text-decoration: none;
  color: #000;
  font-size: 2.2rem;
}

.search-input {
  padding: 1.4rem;
  width: 40rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 10rem;
}

.section-map {
  background-color: #f7f7f7;
}

.container {
  max-width: 130rem;
  padding: 3.2rem;
  margin: 0 auto;
}

.map {
  /* background-color: blue; */
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.02);
}

.render-details {
  background-color: purple;
}
